.game {

	margin-top: 3em;
	margin-left: 3em;
	display: flex;

	.popup {
		display: none;
		position: absolute;
		border: 1px solid black;
		padding: 10px;
		background-color: lightgray;
		cursor: pointer;
		border-radius: 5px;

		p {
			margin: 0.2em;
			padding: 0.3em;
			border: 1px solid black;
			border-radius: 5px;
		}

		p:hover {
			background-color: black;
			color: lightgray;
			transition-duration: 300ms;
		}
	}

	.board {

		.row {
			display: flex;

			.square {
				display: flex;
				background-color: rgb(181, 181, 181);
				height: 3em;
				width: 3em;
				border: 0.1em solid black;
				cursor: pointer;
				margin: 0.1em;

				p {
					margin: auto;
				}
				
				.button {
					// text-align: center;
					font-size: 2em;
					margin-top: auto;
					margin-bottom: auto;
				}
			}

			.borderLeft {
				border-left: 0.2em solid black;
			}

			.borderRight {
				border-right: 0.2em solid black;
			}

			.borderTop {
				border-top: 0.2em solid black;
			}

			.borderBottom {
				border-bottom: 0.15em solid black;
			}
		}
	}

	.control {

		padding-left: 0.5em;

		.winner {
			display: inline;
		}

		.cancel {
			display: inline;
			margin-left: 0.5em;
			;
			padding: 0.5em;
		}

		.history {

			list-style: none;

			.action {
				display: block;
				margin: 0.5em;
			}
		}
	}
}